.menu1{
    display: flex;
    gap: 20px;
   
}
.menu{
    background-color: rgb(47, 32, 61);
    color: white;
    padding: 20px;
    margin-top: 20px;
    width: 500px;
    margin: 200px;
}
input ,textarea{
    background-color: rgb(47, 32, 61);
    border: 1px solid rgb(184, 184, 184);
    margin-top: 10px;
}
textarea{
    height: 200px;
    width: 500px;
}
button{
    width:180px ;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
}
label{
    margin-bottom: 5px;
}