body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
  }
  
  .container {
    width: 900px;
    text-align: left;
  }
  
  .section-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    position: relative;
  }
  
  .section-title::after {
    content: "";
    display: block;
    width: 130px;
    height: 2px;
    background-color: red;
    margin-top: 5px;
  }
  
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 20px;
  }
  
  .card {
    display: flex;
    align-items: center;
    gap: 15px;
    gap: 50px;
  }
  
  .icon-box {
    width: 300px;
    height: 100px;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    background: white;
    transform: rotate(230deg);
    gap: 20px;
    position: relative;
  }
  
  i {
    font-size: 70px;
    color: #e74c3c;
    transform: rotate(130deg);
    align-items: center;
    height: 110px;
    position: absolute;
    left: 60%;
    bottom: 40%;
    right: 43%;
  }
  
  b {
    font-size: 70px;
    color: #e74c3c;
    transform: rotate(130deg);
    align-items: center;
    height: 110px;
    position: absolute;
    left: 60%;
    bottom: 30%;
    right: 43%;
  }
  
  .card-text h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .card-text p {
    font-size: 13px;
    color: #555;
    line-height: 1.4;
  }